html {
  font-family: $font-stack;
  color: $primary-color;
}

header {
  background: #222;
 .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .siteTitle {
      font-size: 16px;
      text-align: center;
      margin: 0;
      padding: 15px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        color: #FFB566;
        font-weight: bold;
        letter-spacing: 5px;
        &:hover {
          background: #FFB566;
          color: white;
          border-color: #FFB566;
        }
      }
    }
    nav {
      text-align: center;
      padding: 15px;
      a {
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        margin: 0 20px;
        &:hover,
        &:focus {
          color: #fff !important;
        }
        &:visited {
          color: #FFB566;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #222;
  .copy {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 13px;
  }
}


main {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 20px;
  position: relative;
  h2 {
    margin-bottom: 0;
  
    a {
      text-decoration: none;
      color: black;
      &:hover,
      &:focus {
        color: #330000;
      }
    }
  }
  .date {
    font-size: 16px;
  }
}





.siddur-app-store {
  display:inline-block;
  overflow:hidden;
  background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
  width:165px;
  height:40px;
}

